<div class="col-sm-6">
  <div class="form-group">
    <label>Name: </label>
    <input type="text" name="name" [(ngModel)]="name" class="form-control">
  </div>
  <div class="form-group">
      <label>RFID Card ID: </label>
      <input type="text" name="rfid" [(ngModel)]="rfid" class="form-control">
    </div>
    <div class="form-group">
        <label>Permission: {{ permission }}</label>
        <label class="switch">
            <input type="checkbox" name="valid" [(ngModel)]="valid">
            <span class="slider round"></span>
          </label>
        <!-- <select name ="valid" [(ngModel)]="valid" class="form-control">
          <option value="valid" selected="selected">Valid</option>
          <option value="invalid">Invalid</option>
        </select> -->
      </div>
    <div class="form-group">
      <button (click)="onSubmit()" class="btn btn-primary">Add New User</button>
    </div>
</div>
